<% content_for(:title, "All buses | Bus Timetable") %>

<h1> buses </h1>
<hr>
<ul>
<% @buses.each do |bus| %>
  <li><%= link_to "#{bus.name}", bus_path(bus) %></li>
<% end %>
</ul>

<%=link_to "New bus", new_bus_path, :class => "tiny button " %>
<%= link_to "Back", publics_path, :class => "tiny button" %>

